.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-admin {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.profile-admin img {
    width: 50px;
    border-radius: 50%;
}

.profile-admin div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.profile-admin div h1 {
    font-size: 1.2rem;
}

.profile-admin div h3 {
    color: #858585;
}

.header-left {
    display: flex;
    column-gap: 20px;
}

.search-box {
    background-color: var(--white);
    border-radius: 15px;
    width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.search-box input {
    outline: none;
    border: none;
    background: unset;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px 20px 10px 10px;
}

.search-box button {
    display: flex;
    font-size: 1.1rem;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    padding: 3px 20px;
}

.header-left-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    width: 40px;
    height: 40px;
    box-shadow: rgba(149, 157, 165, 0.8);
}